<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zhihu Spider</title>
    <script th:src="@{/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <script>
        function paramCheck() {
            var $questionId = $("#questionIdInput").val();
            if ($questionId === '') {
                alert("请输入Question Id!");
                return;
            }
            $("#spiderForm").submit();
            alert("开始下载，请查看本地文件夹....");
        }
    </script>
</head>
<body>
<div class="left-container" style="width: 25%;margin-top: 35px;margin-left: 35px;">
    <form id="spiderForm" method="post" action="/spider" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="questionIdInput">Question Id</label>
            <input type="text" class="form-control" id="questionIdInput" name="questionId" placeholder="Question Id"
                   autocomplete="off">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="mergeFileCheckbox" name="mergeFile" value="1"> Merge Dirs
            </label>
        </div>
        <a class="btn btn-default" href="javascript:void(0)" onclick="paramCheck();">DOWNLOAD</a>
    </form>
</div>
</body>
</html>