<!DOCTYPE html>
<meta name="referrer" content="no-referrer" />
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>知乎SpiderMan</title>
    <script th:src="@{/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
</head>
<script>

    function spiderManRun(){
        var questionId = $("#questionId").val();
        $.ajax({
            type: "GET",
            url: "/spider/" + questionId,
            success:function (data) {
                var photoContainer = $("#photoContainer");
                if (data == null) {
                    var innerHtml = "<span>┗|｀O′|┛ 嗷~~没有图片鸭！</span>";
                    photoContainer.html(innerHtml);
                    return;
                }
                var urlList = data;
                console.log(urlList);
                var photoContent = "";
                for (var i = 0;i<urlList.length;i++) {
                    var url = urlList[i];
                    photoContent += "<img src='"+url+"' style='width: 25%;height: auto'></img>";
                }
                photoContainer.html(photoContent);
            }
        })
    };

</script>
<style>

</style>
<body>
<div class="i_am">
    <input type="text" id="questionId" class="questionId" placeholder="请输入问题id">
    <button id="spiderManRun" class="btn-info" style="border-radius:4px" onclick="spiderManRun();">Spider Man Run!</button>
</div>
<hr>
<div class="spider_man" id="photoContainer">

</div>
</body>
</html>